/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* Global */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: #E5E5E5;
}
a{
    text-decoration: none;
    color: #fff;
}
h3{
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #3C4858;  
}
h4{
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color:#3C4858;

}
p{
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

}
/* header */
header{
  background-image: url(../img/mobile/bg-profile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  color: white;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: .3;
 }
/* header:before{
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
} */
.top-overlay{
  width: 100%;
  min-height: 70px;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 0 15px;
}
nav.tablet{
  display: none;
  text-transform: uppercase;
  font-size: 12px;
}
.tablet ul .cloud{
  background-image: url(../img/tablet/icon-cloud.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 23px;
  cursor: pointer;
}
.tablet li:nth-child(3){
  margin-left: 5px;
}
nav ul .twitter{
  background-image: url(../img/tablet/icon-t.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 23px;
  cursor: pointer;
}
nav ul .facebook{
  background-image: url(../img/tablet/icon-f.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 23px;
  cursor: pointer; 
}
nav ul .instagram{
  background-image: url(../img/tablet/icon-i.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 23px;
  cursor: pointer;
}
.burger{
  background-image: url(../img/mobile/burger-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 39px;
  cursor: pointer;
}
/* Main */
.designer{
  margin: 0 auto;
  background-image: url(../img/mobile/designer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 220px;
  height: 220px;
  position: relative;
  top: -180px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.designer:hover{
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
main{
  background: #fff;
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px; 
  position: absolute;
  top: 319px;
  right: 0;
  left:0;
  max-width: 405px;
  margin: 0 auto;
}
.container{
  max-width: 375px;
  margin: 102px auto 0;
  text-align: center;
}
main h4{
  margin: 15px 0 45px;
}
main p{
  margin-bottom: 76px;
  color: #999999;
  line-height: 16px
}
/* Options */
.options{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 51px;
  
}
.option{
  width: 100px;
  height: 104px;
  text-align: center;
  border-radius: 4px;
}
.frame{
  background-image: url(../img/mobile/frame-white-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  margin-top: 24px;
}
.suffix{
  background-image: url(../img/mobile/suffix-black-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  margin-top: 24px;
}
.heart{
  background-image: url(../img/mobile/heart-gray-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  margin-top: 24px;
}
.options .option-1{
  background: #9C27B0;
  -webkit-box-shadow: 0px 4px 20px rgba(156, 39, 176, 0.45);
          box-shadow: 0px 4px 20px rgba(156, 39, 176, 0.45);
}
.option p{
  margin: 20px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

}
.option-1 p {
  color: #fff;
}
.option-2 p, .option-3 p {
  color: #555;
}
/* Gallery*/
.picture-gallery{
  max-width: 378px;
  margin: 0 auto 80px;
}
.col-1, .col-2 > div{
  margin-bottom: 30px;
  border-radius: 6px;
}
.picture-1{
  background-image: url(../img/mobile/photo-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 378px;
  height: 281px;
  margin-bottom: 30px;
}
.picture-2{
  background-image: url(../img/mobile/photo-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 378px;
  height: 565px;
}
.picture-3{
  background-image: url(../img/mobile/photo-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 378px;
  height: 500px;
}
.picture-4{
  background-image: url(../img/mobile/photo-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 377px;
  height: 281px;
}
/* Footer */
footer{ 
  margin-top: 2030px;
}

footer nav ul{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;  
}
footer nav ul li{
  margin-left: 30px;
}

footer .bottom ul li a{
  color: #333333;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;
}
footer p{
   font-size: 14px;
   text-align: right;
   margin: 20px 98px 20px 0; 
}

@media screen and (min-width: 768px){
  /* Header */
  header{
    min-height: 381px;
  }
  .top-overlay{
      padding: 0 24px;
  }
  /* Nav */
  .burger{
      display: none;
  }
  nav.tablet{
      display: block;
  }
  nav ul{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     font-size: 12px;
  }
  nav ul li{
      margin-left: 27px;
  }
  /* Main */
  main{
    max-width: 748px;
  }
  .designer{
    top: -160px;
  }
  .container{
    max-width: 604px;
  }
  /* Gallery*/
  .picture-gallery{
    max-width: 725px;
  }
  .picture-1{
    width: 725px;
    height: 542px;
  }
  .picture-2{
    width: 725px;
    height: 1081px;
  }
  .picture-3{
    width: 725px;
    height: 961px;
  }
  .picture-4{
    width: 725px;
    height: 542px;
  }
  /* Footer */
  footer{ 
    margin-top: 3550px;
  }
  footer p{
    font-size: 14px;
    text-align: right;
    margin: 20px 266px 20px 0; 
 }
  
}
@media screen and (min-width: 1440px){
  /* Header */
  .top-overlay{
      padding: 0 150px;
      background: none;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
  }
  /* Main */
  main{
    max-width: 
    1380px;
  }
  .container{
    max-width: 604px;
  }
   /* Gallery*/
   .picture-gallery{
    max-width: 554px;
    max-height: 621px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .picture-1{
    width: 262px;
    height: 197px;
    margin:0 30px 30px 0;
  }
  .picture-2{
    width: 262px;
    height: 394px;
  }
  .picture-3{
    width: 263px;
    height: 351px;
  }
  .picture-4{
    margin-top: 30px;
    width: 263px;
    height: 197px;
  }
  /* Footer */
  footer{ 
    margin-top: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 33px;
    padding: 0 165px;
 }
  footer p{
    margin:0;
  }

}

 